---
layout: default
---

<section class="columns is-gapless">
  <div class="column is-hidden-mobile hero-decorative-image"></div>
  <div class="column is-four-fifths-tablet is-three-fifths-desktop">
    <div class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1 is-spaced">
            <div class="firstname is-lowercase has-text-weight-light has-text-primary">{{ site.author.firstname }}</div>
            <div class="lastname is-uppercase has-text-weight-black has-text-primary">{{ site.author.lastname }}</div>
          </h1>
          <div class="subtitle">
            <ul>
              <li>Solutions Architect</li>
              <li>Data Architect</li>
              <li>Technology Consulting Manager</li>
            </ul>
          </div>
          <h2 class="subtitle">
            <p>Fourteen years of experience leading and implementing transformation programmes for nuclear, electricity, water, and gas utility companies. Specialises in end-to-end process delivery and governance.</p>
          </h2>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container">
          <div class="columns is-gapless is-multiline">
            <div class="column is-one-third-fullhd is-half-tablet">
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
              <a href="mailto:hello@paolorodriguez.com" class="has-text-dark">hello@paolorodriguez.com</a>
            </div><!--sse-->
            <div class="column is-one-third-fullhd is-half-tablet">
              <span class="icon">
                <i class="fas fa-mobile-alt"></i>
              </span>
              <a href="tel:+44-7787-855047" class="has-text-dark">+44 7787 855047</a>
            </div><!--/sse-->
            <div class="column is-one-third-fullhd is-half-tablet">
              <span class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </span>
              London, United Kingdom
            </div>
            <div class="column is-one-third-fullhd is-half-tablet">
              <span class="icon">
                <i class="fas fa-globe"></i>
              </span>
              <a href="https://paolorodriguez.com" class="has-text-dark">paolorodriguez.com</a>
            </div>
            <div class="column is-one-third-fullhd is-half-tablet">
              <span class="icon">
                <i class="fab fa-linkedin"></i>
              </span>
              <a href="https://www.linkedin.com/in/paolorodriguez/" class="has-text-dark">linkedin.com/in/paolorodriguez</a>
            </div>
            <div class="column is-one-third-fullhd is-half-tablet">
              <span class="icon">
                <i class="fas fa-calendar-check"></i>
              </span>
              Available from November 2020
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifths-tablet is-two-fifths-desktop has-text-right-tablet">
        <div class="content">
          <h2 class="is-size-5-tablet-only">Areas of Expertise</h2>
        </div>
      </div>
      <div class="column is-four-fifths-tablet is-three-fifths-desktop">
        <div class="content">
          <ul class="mt-0">
            <li>Nuclear power, and nuclear plant construction processes</li>
            <li>UK retail utility billing and industry processes</li>
            <li>Data architecture and data governance</li>
            <li>Solutions architecture for Oracle Utilities Customer Care and Billing</li>
            <li>CPQ solutions including Bit2Win</li>
            <li>Agile and waterfall project management</li>
            <li>Requirements definition, capture, and analysis</li>
            <li>Solution planning, costing, and pricing</li>
            <li>Solution blueprint, architecture, design, and delivery leadership</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifths-tablet is-two-fifths-desktop has-text-right-tablet">
        <div class="content">
          <h2 class="is-size-5-tablet-only">Professional Experience</h2>
        </div>
      </div>
      <div class="column is-four-fifths-tablet is-three-fifths-desktop">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifths-tablet is-two-fifths-desktop has-text-right-tablet">
        <div class="content">
          <h2 class="is-size-5-tablet-only">Security Clearances and Checks</h2>
        </div>
      </div>
      <div class="column is-four-fifths-tablet is-three-fifths-desktop">
        <div class="content">
          <ul class="mt-0">
            <li>BPSS (Baseline Personnel Security Standard) Clearance: Issued 28/09/2020, valid until 31/12/2024</li>
            <li>Enhanced DBS (Disclosure and Barring Service) Certificate: Issued 05/07/2018</li>
            <li>Basic DBS (Disclosure and Barring Service) Certificate: Issued 01/09/2020</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifths-tablet is-two-fifths-desktop has-text-right-tablet">
        <div class="content">
          <h2 class="is-size-5-tablet-only">Digital Identities</h2>
        </div>
      </div>
      <div class="column is-four-fifths-tablet is-three-fifths-desktop">
        <div class="content">
          <p>Verify the authenticity of my messages or software releases using my GPG Public Key, which can be downloaded from <a href="https://paolorodriguez.com/7243852B91E231CE.asc">https://paolorodriguez.com<wbr>/7243852B91E231CE.asc</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifths-tablet is-two-fifths-desktop has-text-right-tablet">
        <div class="content">
          <h2 class="is-size-5-tablet-only">Education</h2>
        </div>
      </div>
      <div class="column is-four-fifths-tablet is-three-fifths-desktop">
        <div class="content">
          <h3>BSc (Hons) Computer Science</h3>
          <p>Ateneo de Manila University</p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-narrow-desktop is-half-tablet-only is-full-mobile has-text-centered-tablet py-0">
        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>
        <a href="mailto:hello@paolorodriguez.com" class="has-text-dark">hello@paolorodriguez.com</a>
      </div><!--sse-->
      <div class="column is-narrow-desktop is-half-tablet-only is-full-mobile has-text-centered-tablet py-0">
        <span class="icon">
          <i class="fas fa-mobile-alt"></i>
        </span>
        <a href="tel:+44-7787-855047" class="has-text-dark">+44 7787 855047</a>
      </div><!--/sse-->
      <div class="column is-narrow-desktop is-half-tablet-only is-full-mobile has-text-centered-tablet py-0">
        <span class="icon">
          <i class="fas fa-globe"></i>
        </span>
        <a href="https://paolorodriguez.com" class="has-text-dark">paolorodriguez.com</a>
      </div>
      <div class="column is-narrow-desktop is-half-tablet-only is-full-mobile has-text-centered-tablet py-0">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <a href="https://github.com/paolorodriguez" class="has-text-dark">github.com/paolorodriguez</a>
      </div>
      <div class="column is-narrow-desktop is-half-tablet-only is-full-mobile has-text-centered-tablet py-0">
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span>
        <a href="https://www.linkedin.com/in/paolorodriguez/" class="has-text-dark">linkedin.com/in/paolorodriguez</a>
      </div>
      <div class="column is-narrow-desktop is-half-tablet-only is-full-mobile has-text-centered-tablet py-0">
        <span class="icon">
          <i class="fas fa-address-book"></i>
        </span>
        <a href="http://pmr.tel/" class="has-text-dark">pmr.tel</a>
      </div>
    </div>
  </div>
</footer>